@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



    h2 {
        text-align: left;
        letter-spacing: 3.2px;
        font-weight: bold;
        font-size: 48px; color: #3D3D3D;
    }
    h2:hover {
        text-align: center;
        letter-spacing: 20px;
    }
   body {
       font-family: 'Lato', sans-serif;
       border: 20px solid #BDC3C7;
       width: 80%;
       text-align: right;
       border-radius: 30px;
       padding: 20px;
   }
   p {
       margin-right: 20px; 
       margin-left: 20px;
       font-size: 15px;
       padding-bottom: 5px;
       text-align: center;
       border-bottom: 10px solid #BDC3C7;
   }

    h3 {
    text-align: right; 
    color: #3498db;
    }

    
   